body{
    background-color: rgb(205, 205, 205);
    line-height: 1.5;

}

.logo{
        display:block;
        width:220px;
        height: auto;
        margin: 20px auto;
        border: 2px solid black;
}


nav{
    text-align: center;
}

 .featured-reviews {
    color:black;
}

.latest-news {
    color: black;
}

.tech-corner {
    color: black;
}


.featured-image {

    width: 300px;
    height: 200px;
    border: 2px solid black;
    padding: 5px;
}

.game-image {

    width: 300px;
    height: 200px;
    border: 2px solid black;
    padding: 5px;
}

.tech-image {
    width: 300px;
    height: 200px;
    border: 2px solid black;
    padding: 5px;
}



 footer{
    color: black;
 }

 h1{
    text-align: center;
    color: blue;
    font-size: 45px;

 }

 h2{

    font-size: 40px;
    color:rgb(0, 0, 55);

 }

  h3{
    font-size: 25px;
    margin-top:20px;
 }

 ul{
    font-size:25px;    
}

 p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
 }

 a {
   font-family: Arial, Helvetica, sans-serif;
    margin: 18px;
    font-size: 20px;
    font-weight: 900;
 }



